@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

:local .root {
  @include clearfix;
}

:local .item {
  @import "../../utilities/css/abstracts";
  @include breakpoint(1rem) {
    min-height: 0;
  }

  @include breakpoint(64rem) {
    min-height: 8.5rem;
  }
}
