@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

:local .root {
  @include clearfix;
}

:local .item {
  @import "../../utilities/css/abstracts";
  @include breakpoint(1rem) {
    min-height: 0;
  }

  @include breakpoint(64rem) {
    min-height: 8.5rem;
  }
}

:local .errorOrEmpty {
  @import "../../utilities/css/abstracts";
  justify-content: center;
  display: flex;
  max-width: 100%;
  width: 100%;
  > ul,
  > div {
    h2 {
      font-size: 2rem;
      width: 100%;
      color: $primary-accent;
    }
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    width: 100%;
  }
}
