:local .root {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.3125rem solid transparent;
  border-top: 0.3125rem solid grey;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
