:local .root {
  @import "../../utilities/css/abstracts";
  background: $white;
  padding: 1rem;
  border: 0.0625rem solid #e0e1e2;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}
