:local .root {
  width: 100%;
  padding: 0 0.75rem;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.43, 1.53);
}

:local .component {
  max-width: 40rem;
  margin: auto;
}
