:local .root {
  @import "../../utilities/css/abstracts";
  border-radius: 0.25rem;
  background-color: #e0e1e2;
  color: $primary-background;
  fill: $primary-background;
  padding: 1rem;
  border: 0.0625rem solid #e0e1e2;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:hover {
    background-color: darken(#e0e1e2, 10%);
    border: 0.0625rem solid darken(#e0e1e2, 10%);
  }

  &.hasIcon {
    line-height: 0;
  }

  &.isPrimary {
    background-color: $primary-accent;
    color: $white;
    fill: $white;
    border: 0.0625rem solid$primary-accent;

    &:hover {
      background-color: darken($primary-accent, 10%);
      border: 0.0625rem solid darken($primary-accent, 10%);
    }
  }

  &.isSubmit {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
