:local .root {
  border-radius: 4px;
  background-color: #E0E1E2;
  color: #5C5C5C;
  fill: #5C5C5C;
  padding: 16px;
  border: 1px solid #E0E1E2;
  box-shadow: 
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
   
  &:hover {
    background-color: darken(#E0E1E2, 10%);
    border: 1px solid darken(#E0E1E2, 10%);
  }
  
  &.isInline {
    display: inline-block;
    display: inline-flex;
  }
  
  &.hasIcon {
    line-height: 0;
  }
  
  &.isPrimary {
    background-color: #2185D0;
    color: white;
    fill: white;
    border: 1px solid #2185D0;
    
    &:hover {
      background-color: darken(#2185D0, 10%);
      border: 1px solid darken(#2185D0, 10%);
    }
  }
}