@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

:local .root {
  @media screen and (min-width: 0) {
    border: 0.0625rem solid transparent;
  }
}

:local .inner {
  @media screen and (min-width: 0) {
    margin: 0.9375rem;

    @include clearfix;
  }
}
