:local .root {
  @import "../../utilities/css/abstracts";

  > :not(:first-child) {
    margin-top: $base-vertical-spacing;
  }
  padding: 1rem;
  @import "../../utilities/css/abstracts";
  color: $black;
  border-radius: 0.05rem;
  background: $white;
  width: 100%;
  outline: 0.025rem solid $dark-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
