$black: #000;
$white: #fcfcfc;
$primary-accent: #00838e;
$dark-gray: #5c5c5c;
$dark-background: #e1e2e1;
$primary-background: #f5f5f6;
$dark-accent: #005661;

// ------------------ Coupled values
$font-accent: $primary-accent;
// ---------------------------------
