@import "colors";

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  position: relative;
  color: $font-accent;
}

a.skiplink {
  position: fixed;
  color: $font-accent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 1.8rem;

  &.bold {
    font-weight: bold;
  }

  &.sm-caps {
    font-variant: small-caps;
  }

  &.itals {
    font-style: italic;
  }
}

h2,
.h2 {
  font-size: 1.4rem;

  &.bold {
    font-weight: bold;
  }

  &.sm-caps {
    font-variant: small-caps;
  }

  &.itals {
    font-style: italic;
  }
}

h3,
.h3 {
  font-size: 1.2rem;

  &.bold {
    font-weight: bold;
  }

  &.sm-caps {
    font-variant: small-caps;
  }

  &.itals {
    font-style: italic;
  }
}

h4,
.h4 {
  font-size: 1rem;

  &.bold {
    font-weight: bold;
  }

  &.sm-caps {
    font-variant: small-caps;
  }

  &.itals {
    font-style: italic;
  }
}
