:local .root {
  @import "../../utilities/css/abstracts";
  width: 100%;
  background-color: $primary-background;
  display: flex;
}

@media (min-width: 1rem) {
  :local .wrap {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }
}

@media (min-width: 57.75rem) {
  :local .wrap {
    display: flex;
    width: 100%;
    max-width: 53.75rem;
    margin: 0 auto;
  }
}

:local .home {
  display: flex;
}

:local .searchWrap {
  display: flex;
  width: 100%;
  padding-left: 0.625rem;
}

:local .search {
  display: flex;
  width: 100%;
}

:local .button {
  display: flex;
  height: 100%;
}

:local .input {
  display: flex;
  width: 100%;
}
