:local .root {
  @import "../../utilities/css/abstracts";
  width: 100%;
  background-color: $primary-gray;
  padding: 0.75rem;
  box-shadow: 0 0.3125rem 0.3125rem -0.1875rem rgba(0, 0, 0, 0.2),
    0 0.5rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.14),
    0 0.1875rem 0.875rem 0.125rem rgba(0, 0, 0, 0.12);
  display: flex;
}

:local .wrap {
  display: table;
  width: 100%;
  max-width: 53.75rem;
  margin: 0 auto;
}

:local .home {
  display: table-cell;
  vertical-align: top;
}

:local .searchWrap {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  padding-left: 0.625rem;
}

:local .search {
  display: table;
  width: 100%;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.2),
    0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.14),
    0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.12);
}

:local .button {
  vertical-align: top;
  display: table-cell;
}

:local .input {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}
