:local .root {
  @import "../../utilities/css/abstracts";
  position: relative;
  width: 100%;
  flex-grow: 1;

  > * {
    margin-top: $base-vertical-spacing;
  }
}

:local .errorOrEmpty {
  justify-content: center;
}

:local .placeholder {
  @import "../../utilities/css/abstracts";
  min-width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

:local .layout {
  @import "../../utilities/css/abstracts";

  > * {
    margin-top: $base-vertical-spacing;
  }
}
