:local .root {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  align-items: center;
  @media (min-width: 1rem) {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
  }
  @media (min-width: 57.75rem) {
    max-width: 53.75rem;
    margin: 0 auto;
    width: 100%;
  }
}

:local .link {
  padding: 0 0rem 0rem 0.5rem;
}
